# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
pa-data-collector

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# HTTP files used with https://github.com/Huachao/vscode-restclient
*.http

# Dependency directories (remove the comment below to include it)
# vendor/
